// Local docs variables
$brand-primary:      #3F51B5;
$bd-purple:          #3F51B5;
$bd-purple-bright:   lighten(saturate($bd-purple, 5%), 15%);
$bd-purple-light:    #cdbfe3;
$bd-purple-lightest: #f5f2f9;
$bd-graphite:        #2a2730;
$bd-graphite-light:  lighten($bd-graphite, 40%);
$bd-yellow:          #ffe484;
$bd-danger:          #d9534f;
$bd-warning:         #f0ad4e;
$bd-info:            #5bc0de;

$theme-colors: (
  primary: $brand-primary
)
