<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    {% include docs-navbar.html %}

    {% if page.layout == "simple" %}
        {{ content }}
    {% else %}
        <main id="content" role="main">
            {{ content }}
        </main>
    {% endif %}

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
