body{font-family: 'Montserrat', sans-serif!important;}

.navbar > a.logo {
    height: 80px;
}

.main-sidebar{ margin-top: 0;}

#columnas {
   -moz-column-count: 5;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 5;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
   display: inline-block;
   float: left;
}
.unidad {
   -moz-column-break-inside: avoid;
   -webkit-column-break-inside: avoid;
   -moz-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   -webkit-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   box-shadow: 0 1px 3px rgba(20,20,20, 0.4);   
   background: #E9EBED;
   border: 2px solid #FFFFFF;
   
   display: inline-block;
   margin: 0 5px 20px;
   padding: 10px;
   text-align: center;
   
}

.layoutimg {
   margin: 0 auto;
   max-height: 190px;
   width: 150px;
}   
.unidad2 {
   -moz-column-break-inside: avoid;
   -webkit-column-break-inside: avoid;
    -moz-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   -webkit-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   background: #E9EBED;
   border: 2px solid #FFFFFF;  
   display: inline-block;
   margin: 0 5px 20px;
   padding: 5px;
   text-align: center;
   position: relative;
}
.unidad2 img {
   margin: 0 auto;  
   max-height: 250px;
   width: 100%;
}   

.imaglogo{
    margin-top: -3px; 
    height: 50px; 
    /*width: 55px;*/
}

.imaghead {
    width: 450px;
}

/*** inicio slider chexbox ***/
.onoffswitch {
    position: relative; width: 109px; display: inline-block; vertical-align: -webkit-baseline-middle;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-left: 16px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No Activo";
    padding-right: 16px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-inner.emit:before {
    content: "Emitida";
    padding-left: 16px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner.emit:after {
    content: "No Emitida";
    padding-right: 16px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 75px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*** fin slider chexbox  ***/

div.form-group > ul {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
     
}
div.form-group > ul > li {    
    color: red;
    margin-left: 5px;   
}

.clsDatePicker {
    z-index: 100000;
}

/*arge desktop */
@media (min-width: 1200px) { 
.imaghead{
    width: 450px;
}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    #columnas {
       -moz-column-count: 3;
       -moz-column-gap: 15px;
       -moz-column-fill: auto;
       -webkit-column-count: 3;
       -webkit-column-gap: 15px;
       -webkit-column-fill: auto;
    }
   .imaghead {
    margin-top: 5px;
    width: 350px;
    } 
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
#columnas {
   -moz-column-count: 2;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 2;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
}

.imaghead {
    margin-top: 5px;
    width: 350px;
    } 
}

/* Landscape phones and down */
@media (max-width: 480px) { 
#columnas {
   -moz-column-count: 3;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 3;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
}
.imaghead {
    margin-top: 13px;
    width: 200px;
    } 

}

/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width : 320px) and (max-device-width : 480px) { 
#columnas {
   -moz-column-count: 2;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 2;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
}
.imaghead {
    margin-top: 10px;
    width: 150px;
    } 

}


/** FALSH MESSAGES **/
.alert {
    width: 100%;
    background-color: black;
    background-color: rgba(30, 30, 30, 0.9);
    text-shadow: 1px 1px black;
    text-align: center;
    color: #eee;
    padding-left: 65px;
    box-shadow: 4px 3px 15px rgba(0,0,0,0.9);
    border: 0;
    background-repeat: no-repeat;
    background-position: 15px 50%;    
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px 0px;
    position: absolute;    
    display: none;
    z-index: 10000000;
    
}

.alert .close {
    color: white;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 1px 0 #000;
    opacity: 1;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) { }

/* Smartphones (portrait) ----------- */
@media (max-width : 320px) {
    .imaghead {
    margin-top: 15px;
    width: 180px;
    } 
}

/* iPads (portrait and landscape) ----------- */
@media (min-device-width : 768px) and (max-device-width : 1024px) { }

/* iPads (landscape) ----------- */
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { }

/* iPads (portrait) ----------- */
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

/* Desktops and laptops ----------- */
@media (min-width : 1224px) { }

/* Large screens ----------- */
@media (min-width : 1824px) { }

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) { }

.thumbproduct{
  width:60%!important;
  margin:auto 20%;
  }
  .box.views{
  background:transparent!important;
  border:0px; border-top:0!important;
  box-shadow:0px 0px transparent!important;
}
  .box{
  background:transparent!important;
  border:0px; border-top:0!important;
  box-shadow:0px 0px transparent!important;
}
.showview{
  background:white;
  box-shadow:1px 1px 2px 1px rgba(0,0,0,.1);
  border-radius:20px!important;
}
.box-footer{
  padding:0px 10px!important; background:transparent!important;
}
.pagination{margin:0!important;}
td{border:none;}
thead>tr.tr-top-table{background:#fff!important; border-bottom:3px solid black!important; color:black; overflow:hidden;}
tr.tr-data{border-bottom: 4px solid white!important; border-radius:0px 20px 20px 0px!important;margin-bottom:8px!important;}
tr:nth-child(even) { background: #fff!important }
tr:nth-child(odd) { background: #eee!important}

.cfj-edit-item{
  border-radius:0 20px 20px 0;
}

.stockbox{
  border-radius:3px;
  width:40px;padding:2px 4px;
  background:#FFF3ea;
}
.stockbox.lowstock{
  background:#ddd;
}
.stockbox.nostock{
  background:#d9534f;
}
.img-publish{width:20%!important;margin:5px 40%!important;}
.menu-publish{background:black!important}
.icon-img{width:24px!important; margin-right:6px!important}
.img-logo-small{width:100px!important; height:auto!important; border:0px!important;}
.img-menu-logo{width:60%!important;margin:5% 20%!important;}
a.isdisabled{color:#aaa!important; cursor:default!important;}

.cfj-color-one{
  color:#00E2D6!important;
}
.cfj-color-two{
  color:#00E2D6!important;
}
.cfj-color-three{
  color:#fff!important;
}
.cfj-color-four{
  color:#000!important;
}
.cfj-bgcolor-one{
  background-color:#58CDD0!important;
}
.cfj-bgcolor-two{
  background-color:#00E2D6!important;
}
.cfj-bgcolor-three{
  background-color:#2c2460!important;
}
.cfj-bgcolor-black{
  background-color:#000!important;
}
.cfj-deg{

background: -moz-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88,205,208,1)), color-stop(60%, rgba(88,205,208,1)), color-stop(100%, rgba(109,234,192,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* ie10+ */
background: linear-gradient(188deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58CDD0', endColorstr='#6DEAC0',GradientType=0 ); /* ie6-9 */}

.btn-fj{
  border-radius:40px!important;
height:39px!important;
border:0px!important;
margin:20px auto;
width:200px!important;
}

#fondo{
  width:380px!important;
 border-radius:14px!important;
 padding:0;
-webkit-box-shadow: 0px 0px 5px 2px rgba(81, 142, 183, 0.2);
-moz-box-shadow:    0px 0px 5px 2px rgba(81, 142, 183, 0.2);
box-shadow:         0px 0px 5px 2px rgba(81, 142, 183, 0.2);
}
.login-box-body{padding:0;}
.login-page{background:#F6F6F7!important;
}
.login-logo{margin:0!important;
}
.mdl-textfield__label:after{
  background-color:#00E2D6!important;
}
.mdl-textfield__label{
  font-size:12px;
}
.captcha{width:300px!important; margin:0 auto!important}
.img-logo{
width:160px;
margin:20px 110px 40px;
}
.img-small-logo{
width:40px;
}

.mdl-textfield{
  width:300px;
  margin:auto 40px;
  font-size:14px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span{
  background-color:rgba(68,58,79,1)!important;
  
}
.sidebar-mini aside ul li:hover{
  background-color:rgba(68,58,79,1)!important;
  
}
.sidebar-mini aside ul li:hover a, .sidebar-mini aside ul li:hover a{
  background-color:rgba(68,58,79,1)!important;
  
}
.sidebar-mini aside ul li ul, .sidebar-mini aside ul li ul a {
  background-color:rgba(68,58,79,1)!important;
}
.cfj-deg ul.sidebar-menu{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li.treeview{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li.active a{
  background-color:rgba(68,58,79,0.1);
}
.cfj-deg ul.sidebar-menu li.treeview:not(.active) a:hover{
  background-color:rgba(68,58,79,0.1)!important;
  color:white;
}
.cfj-deg ul.sidebar-menu li.treeview a{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li.treeview a span{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li ul{
  background-color:rgba(68,58,79,0.3)!important;
}
.cfj-deg ul.sidebar-menu li.active ul.treeview-menu{
  background-color:rgba(68,58,79,0.3)!important;
}

.main-header .sidebar-toggle{
  color:#00E2D6!important;
}
body:not(.sidebar-collapse) aside{
  position:absolute;
}

.skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a,
 .skin-black .main-header>.navbar .navbar-right>li>a{
  border-left:0px!important;
 }

 .cfj-fz-12{font-size:12px;}
 .cfj-fz-10{font-size:10px;}
 .perfil-name{top:-4px; position:relative;}
 .cfj-separator{
 text-align:center!important;color:white; width:100%; padding:10px 0; position:relative; margin-top:10px;
 }
 .cfj-report{
text-align:center;
 }
 .cfj-report div.reports{
  background:white;
border-radius:0px 0px 10px 10px;
margin-bottom:30px;
padding:60px 0;
font-size:50px;
 }
 .cfj-report-one h3{
border-radius:10px 10px 0 0;
margin:20px 0 0;
  width:100%; background-color:#007e86; color:white; padding:8px 0; font-size:16px;

} 
.cfj-report-two h3{
border-radius:10px 10px 0 0;
margin:20px 0 0;
  width:100%; background-color:#602663; color:white; padding:8px 0; font-size:16px;
 }
 .cfj-logo-comp{
  position:absolute;
  width:160px;
  margin:0 auto;
  left:0;
  top:10px;
  right:0;
 }
  .cfj-logo-comp img{
  width:160px;
  margin:0 auto;
 }

 div.content{min-height:0;}
 i.cfj-info{
  font-size:11px!important; position:absolute; margin:5px 0 0 4px;
 }
.table-responsive{
  overflow-x:visible;
}
 .cfj-search-container{}
 .cfj-search-container .cfj-search{border-radius:0 40px 40px 0!important;}
 .cfj-search-container input{
  border-radius:0 40px 40px 0!important;
 }
 .cfj-icon-search{background:black!important;padding:0;color:white!important;border-radius:40px 0 0 40px!important;}
 .cfj-icon-search button{background:black!important;color:white!important;margin:0!important;border:0px!important;border-radius:40px 0 0 40px!important;}
 .cfj-icon-search button:hover{background-color:transparent!important;}
.cfj-icon-search span{color:white!important}
.cfj-actions{padding:0px 0!important;}
.cfj-actions-btn{border-radius:20px!important; border:0px!important; padding:4px 25px!important; font-size:12px!important;}
.cfj-actions .form-group{padding-bottom:0px!important; margin-bottom:0px!important;}
.cfj-group{  
  color:#58CDD0!important;margin-top:26px; height:10px!important; padding:0px;
}
.cfj-group:before{  
  content:" | ";
}
.cfj-modal .modal-dialog{
  width:450px;
  margin-left:auto;
  margin-top:10%;

}
a{color:inherit!important}

.cfj-modal .modal-title{
  text-align:center;
  padding:4px 0;
  color:white;
  font-size:15px;
}
.cfj-modal .modal-header{
  padding:0;
}
.cfj-modal .modal-content h5{
  text-align:center;
  color:black;
  font-size:14px;
}
.cfj-modal-option{
  text-align:center;
  font-size:24px;
}

.mdl-radio.is-upgraded{
  display:inline-block!important;
  padding-left:10px!important;
}

.cfj-modal-close{
  margin:5px!important;
}

.modal-body{height:140px!important;padding-bottom:30px!important;}
.mdl-menu__item:hover{
  background-color:#0FB4AB!important; color:white;
}
  .tr-data{
    vertical-align:middle!important;
    height:90px!important;  
  }
  .tr-data td{
    vertical-align:middle!important;
    
  }
  .edit-icon{
  position:relative;
  margin-top:5px;
  font-size:20px
  }
  img {
  }
  .marg-sup{
    margin-top:25px;
  }


table{
  table-layout: fixed;
}
table tr th,table tr th a{
font-size:12px;
text-align: center;
}
table .cfj-check{
  width:2%;
  white-space: normal;
}
table .cfj-provider{
  width:7%;
  white-space: normal;
}
table .cfj-image{
  width:6%;
  white-space: normal;
}
table .cfj-image img{
  width:100%!important;
  white-space: normal;
}
table .cfj-sku{
  width:8%;
  white-space: normal;
  text-align:center;
}
table .cfj-title{
  width:13%;
  white-space: normal;
}
table td.cfj-title {
 text-align: left!important;
}
table td.cfj-title a{
  white-space: normal;
  text-align:left;
}
table .cfj-brand{
  width:8%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-category{
  width:10%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-stock{
  width:5%;
  white-space: normal;
}
table .cfj-price{
  width:11%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-alicuota{
  width:7%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-status{
  width:9%;
  white-space: normal;
  text-align:center!important;
}

.content-wrapper, .right-side{
  margin-left:50px!important;
}
 .sidebar-mini.sidebar-collapse .main-footer
{
  margin-left:0px!important;

  }

.table>thead>tr>th{vertical-align: top}

.cfj-product-div {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px #88888812;
}

.cfj-hr-atributes {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#ecf0f5;
  height: 1px;
}