.navbar > a.logo {
    height: 80px;
}

.main-sidebar{ margin-top: 0;}

#columnas {
   -moz-column-count: 5;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 5;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
   display: inline-block;
   float: left;
}
.unidad {
   -moz-column-break-inside: avoid;
   -webkit-column-break-inside: avoid;
   -moz-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   -webkit-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   box-shadow: 0 1px 3px rgba(20,20,20, 0.4);   
   background: #E9EBED;
   border: 2px solid #FFFFFF;
   
   display: inline-block;
   margin: 0 5px 20px;
   padding: 10px;
   text-align: center;
   
}

.layoutimg {
   margin: 0 auto;
   max-height: 190px;
   width: 150px;
}   
.unidad2 {
   -moz-column-break-inside: avoid;
   -webkit-column-break-inside: avoid;
    -moz-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   -webkit-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   background: #E9EBED;
   border: 2px solid #FFFFFF;  
   display: inline-block;
   margin: 0 5px 20px;
   padding: 5px;
   text-align: center;
   position: relative;
}
.unidad2 img {
   margin: 0 auto;  
   max-height: 250px;
   width: 100%;
}   

.imaglogo{
    margin-top: -3px; 
    height: 50px; 
    /*width: 55px;*/
}

.imaghead {
    width: 450px;
}

/*** inicio slider chexbox ***/
.onoffswitch {
    position: relative; width: 109px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-left: 16px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Desactivo";
    padding-right: 16px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 75px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*** fin slider chexbox  ***/

div.form-group > ul {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
     
}
div.form-group > ul > li {    
    color: red;
    margin-left: 5px;   
}

.clsDatePicker {
    z-index: 100000;
}

/*arge desktop */
@media (min-width: 1200px) { 
.imaghead{
    width: 450px;
}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    #columnas {
       -moz-column-count: 3;
       -moz-column-gap: 15px;
       -moz-column-fill: auto;
       -webkit-column-count: 3;
       -webkit-column-gap: 15px;
       -webkit-column-fill: auto;
    }
   .imaghead {
    margin-top: 5px;
    width: 350px;
    } 
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
#columnas {
   -moz-column-count: 2;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 2;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
}

.imaghead {
    margin-top: 5px;
    width: 350px;
    } 
}

/* Landscape phones and down */
@media (max-width: 480px) { 
#columnas {
   -moz-column-count: 3;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 3;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
}
.imaghead {
    margin-top: 13px;
    width: 200px;
    } 

}

/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width : 320px) and (max-device-width : 480px) { 
#columnas {
   -moz-column-count: 2;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 2;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
}
.imaghead {
    margin-top: 10px;
    width: 150px;
    } 

}


/** FALSH MESSAGES **/
.alert {
    width: 100%;
    background-color: black;
    background-color: rgba(30, 30, 30, 0.9);
    text-shadow: 1px 1px black;
    text-align: center;
    color: #eee;
    padding-left: 65px;
    box-shadow: 4px 3px 15px rgba(0,0,0,0.9);
    border: 0;
    background-repeat: no-repeat;
    background-position: 15px 50%;    
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px 0px;
    position: absolute;    
    display: none;
    z-index: 10000000;
    
}

.alert .close {
    color: white;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 1px 0 #000;
    opacity: 1;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) { }

/* Smartphones (portrait) ----------- */
@media (max-width : 320px) {
    .imaghead {
    margin-top: 15px;
    width: 180px;
    } 
}

/* iPads (portrait and landscape) ----------- */
@media (min-device-width : 768px) and (max-device-width : 1024px) { }

/* iPads (landscape) ----------- */
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { }

/* iPads (portrait) ----------- */
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

/* Desktops and laptops ----------- */
@media (min-width : 1224px) { }

/* Large screens ----------- */
@media (min-width : 1824px) { }

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) { }

