body{font-family: 'Montserrat', sans-serif!important;}

.navbar > a.logo {
    height: 80px;
}

.main-sidebar{ margin-top: 0;}

#columnas {
   -moz-column-count: 5;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 5;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
   display: inline-block;
   float: left;
}
.unidad {
   -moz-column-break-inside: avoid;
   -webkit-column-break-inside: avoid;
   -moz-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   -webkit-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   box-shadow: 0 1px 3px rgba(20,20,20, 0.4);   
   background: #E9EBED;
   border: 2px solid #FFFFFF;
   
   display: inline-block;
   margin: 0 5px 20px;
   padding: 10px;
   text-align: center;
   
}
.cfj-largo-input-goldenrule {
  width: 500px;
}
.layoutimg {
   margin: 0 auto;
   max-height: 190px;
   width: 150px;
}   
.unidad2 {
   -moz-column-break-inside: avoid;
   -webkit-column-break-inside: avoid;
    -moz-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   -webkit-box-shadow: 0 1px 3px rgba(20,20,20, 0.4);
   background: #E9EBED;
   border: 2px solid #FFFFFF;  
   display: inline-block;
   margin: 0 5px 20px;
   padding: 5px;
   text-align: center;
   position: relative;
}
.unidad2 img {
   margin: 0 auto;  
   max-height: 250px;
   width: 100%;
}   

.imaglogo{
    margin-top: -3px; 
    height: 50px; 
    /*width: 55px;*/
}

.imaghead {
    width: 450px;
}

/*** inicio slider chexbox ***/
.onoffswitch {
    position: relative; width: 90px; display: inline-block; vertical-align: -webkit-baseline-middle;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-bottom:0px!important;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-right: 32px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No Activo";
    font-size:10px;
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-inner.emit:before {
    content: "Emitida";
    padding-left: 16px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner.emit:after {
    content: "No Emitida";
    padding-right: 16px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 13px;
    background: #FFFFFF;
    position: absolute; top: -5px; bottom: 0;
    right: 52px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*** fin slider chexbox  ***/

div.form-group > ul {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
     
}
div.form-group > ul > li {    
    color: red;
    margin-left: 5px;   
}

.clsDatePicker {
    z-index: 100000;
}

/*arge desktop */
@media (min-width: 1200px) { 
.imaghead{
    width: 450px;
}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    #columnas {
       -moz-column-count: 3;
       -moz-column-gap: 15px;
       -moz-column-fill: auto;
       -webkit-column-count: 3;
       -webkit-column-gap: 15px;
       -webkit-column-fill: auto;
    }
   .imaghead {
    margin-top: 5px;
    width: 350px;
    } 
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
#columnas {
   -moz-column-count: 2;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 2;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
}

.imaghead {
    margin-top: 5px;
    width: 350px;
    } 
}

/* Landscape phones and down */
@media (max-width: 480px) { 
#columnas {
   -moz-column-count: 3;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 3;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
}
.imaghead {
    margin-top: 13px;
    width: 200px;
    } 

}

/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width : 320px) and (max-device-width : 480px) { 
#columnas {
   -moz-column-count: 2;
   -moz-column-gap: 15px;
   -moz-column-fill: auto;
   -webkit-column-count: 2;
   -webkit-column-gap: 15px;
   -webkit-column-fill: auto;
}
.imaghead {
    margin-top: 10px;
    width: 150px;
    } 

}


/** FALSH MESSAGES **/
.alert {
    width: 100%;
    background-color: black;
    background-color: rgba(30, 30, 30, 0.9);
    text-shadow: 1px 1px black;
    text-align: center;
    color: #eee;
    padding-left: 65px;
    box-shadow: 4px 3px 15px rgba(0,0,0,0.9);
    border: 0;
    background-repeat: no-repeat;
    background-position: 15px 50%;    
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px 0px;
    position: absolute;    
    display: none;
    z-index: 10000000;
    
}

.alert .close {
    color: white;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 1px 0 #000;
    opacity: 1;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) { }

/* Smartphones (portrait) ----------- */
@media (max-width : 320px) {
    .imaghead {
    margin-top: 15px;
    width: 180px;
    } 
}

/* iPads (portrait and landscape) ----------- */
@media (min-device-width : 768px) and (max-device-width : 1024px) { }

/* iPads (landscape) ----------- */
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { }

/* iPads (portrait) ----------- */
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

/* Desktops and laptops ----------- */
@media (min-width : 1224px) { }

/* Large screens ----------- */
@media (min-width : 1824px) { }

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) { }

.thumbproduct{
  width:60%!important;
  margin:auto 20%;
  }
  .box.views{
  background:transparent!important;
  border:0px; border-top:0!important;
  box-shadow:0px 0px transparent!important;
}
  .box{
  background:transparent!important;
  border:0px; border-top:0!important;
  box-shadow:0px 0px transparent!important;
}
.showview{
  background:white;
  box-shadow:1px 1px 2px 1px rgba(0,0,0,.1);
  border-radius:20px!important;
}
.box-footer{
  padding:0px 10px!important; background:transparent!important;
}
.pagination{margin:0!important;}
td{border:none;}
thead>tr.tr-top-table{background:#fff!important; border-bottom:3px solid black!important; color:black; overflow:hidden;}
tr.tr-data{border-bottom: 4px solid white!important; border-radius:0px 20px 20px 0px!important;margin-bottom:8px!important;}
tr:nth-child(even) { background: #fff!important }
tr:nth-child(odd) { background: #eee!important}

.cfj-edit-item{
  border-radius:0 20px 20px 0;
  width:4%;
}

.stockbox{
  border-radius:3px;
  padding:2px 4px;
  background:#FFF3ea;
}
.stockbox.lowstock{
  background:#ddd;
}
.stockbox.nostock{
  background:#d9534f;
}
.img-publish{width:50%!important;margin:5px 40%!important;}
.menu-publish{background:black!important}
.icon-img{width:40px!important; border-radius:20px; background-color:white!important;padding:5px; margin-right:6px!important}
.cfj-publish-lot button{
  background-color:white!important;
}
.cfj-publish-lot button{
  background-color:white!important;
  box-shadow:1px 1px 1px 1px #dedede;
  height:200px;
}
.cfj-publish-lot button:hover{
  background-color:#eee!important;
  box-shadow:1px 1px 1px 2px #dedede;
  height:200px;
}
.cfj-publish-lot button img{
  width:100%;
}
.img-logo-small{width:100px!important; height:auto!important; border:0px!important;}
.img-menu-logo{width:60%!important;margin:5% 20%!important;}
a.isdisabled{color:#aaa!important; cursor:default!important;}

.cfj-h4-reports{
  padding:6px;
}
.cfj-color-one{
  color:#00E2D6!important;
}
.cfj-color-two{
  color:#00E2D6!important;
}
.cfj-color-three{
  color:#fff!important;
}
.cfj-color-four{
  color:#000!important;
}
.cfj-bgcolor-one{
  background-color:#58CDD0!important;
}
.cfj-bgcolor-two{
  background-color:#00E2D6!important;
}
.cfj-bgcolor-three{
  background-color:#2c2460!important;
}
.cfj-bgcolor-black{
  background-color:#000!important;
}
.cfj-bgcolor-white{
  background-color:#fff!important;
}
.cfj-deg{

background: -moz-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88,205,208,1)), color-stop(60%, rgba(88,205,208,1)), color-stop(100%, rgba(109,234,192,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* ie10+ */
background: linear-gradient(188deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58CDD0', endColorstr='#6DEAC0',GradientType=0 ); /* ie6-9 */}

.cfj-deg-violeta{

background: -moz-linear-gradient(262deg, rgba(42,45,146,1) 0%, rgba(60, 58, 160,1) 30%, rgba(44,36,96,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(42,45,146,1)), color-stop(30%, rgba(60, 58, 160,1)), color-stop(100%, rgba(44,36,96,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(262deg, rgba(42,45,146,1) 0%, rgba(60, 58, 160,1) 30%, rgba(44,36,96,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(262deg, rgba(42,45,146,1) 0%, rgba(60, 58, 160,1) 30%, rgba(44,36,96,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(262deg, rgba(42,45,146,1) 0%, rgba(60, 58, 160,1) 30%, rgba(44,36,96,1) 100%); /* ie10+ */
background: linear-gradient(188deg, rgba(42,45,146,1) 0%, rgba(60, 58, 160,1) 30%, rgba(44,36,96,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58CDD0', endColorstr='#6DEAC0',GradientType=0 ); /* ie6-9 */}

.btn-fj{
  border-radius:40px!important;
height:39px!important;
border:0px!important;
margin:20px auto;
width:200px!important;
}

#fondo{
  width:380px!important;
 border-radius:14px!important;
 padding:0;
-webkit-box-shadow: 0px 0px 5px 2px rgba(81, 142, 183, 0.2);
-moz-box-shadow:    0px 0px 5px 2px rgba(81, 142, 183, 0.2);
box-shadow:         0px 0px 5px 2px rgba(81, 142, 183, 0.2);
}
.login-box-body{padding:0;}
.login-page{background:#F6F6F7!important;
}
.login-logo{margin:0!important;
}
.mdl-textfield__label:after{
  background-color:#00E2D6!important;
}
.mdl-textfield__label{
  font-size:11px;
  text-align:center;
}
.mdl-menu__item{
  font-size:11px;
  text-align:center;
}

.captcha{width:300px!important; margin:0 auto!important}
.img-logo{
width:160px;
margin:20px 110px 40px;
}
.img-small-logo{
width:40px;
}

.mdl-textfield{
  width:300px;
  margin:auto 40px;
  font-size:14px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a:not(.unlink)>span{
  background-color:rgba(68,58,79,1)!important;
  
}
.sidebar-mini aside ul li:hover{
  background-color:rgba(68,58,79,1)!important;
  
}
.sidebar-mini aside ul li:hover a, .sidebar-mini aside ul li:hover a{
  background-color:rgba(68,58,79,1)!important;
  
}
.sidebar-mini aside ul li ul, .sidebar-mini aside ul li ul a {
  background-color:rgba(68,58,79,1)!important;
}
.cfj-deg ul.sidebar-menu{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li.treeview{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li.active a{
  background-color:rgba(68,58,79,0.1);
}
.cfj-deg ul.sidebar-menu li.treeview:not(.active) a:hover{
  background-color:rgba(68,58,79,0.1)!important;
  color:white;
}
.cfj-deg ul.sidebar-menu li.treeview a{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li.treeview a span{
  color:white!important;
}

.cfj-deg ul.sidebar-menu li ul{
  background-color:rgba(68,58,79,0.3)!important;
}
.cfj-deg ul.sidebar-menu ul.treeview-menu{
  background-color:rgba(68,58,79,0.3)!important;
  width:230px!important
}

.main-header .sidebar-toggle{
  color:#00E2D6!important;
}
body:not(.sidebar-collapse) aside{
  position:absolute;
}

.skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a,
 .skin-black .main-header>.navbar .navbar-right>li>a{
  border-left:0px!important;
 }

 .cfj-fz-12{font-size:12px;}
 .cfj-fz-10{font-size:10px;}
 .perfil-name{top:-4px; position:relative;}
 .cfj-separator{
 text-align:center!important;color:white; width:100%; padding:10px 0; position:relative; margin-top:10px;
 }
 .cfj-report{
text-align:center;
 }
 .cfj-report div.reports{
  background:white;
border-radius:0px 0px 10px 10px;
margin-bottom:30px;
padding:60px 0;
font-size:30px;
 }
 .cfj-report-one h3{
border-radius:10px 10px 0 0;
margin:20px 0 0;
  width:100%; background-color:#007e86; color:white; padding:8px 0; font-size:16px;

} 
.cfj-report-two h3{
border-radius:10px 10px 0 0;
margin:20px 0 0;
  width:100%; background-color:#602663; color:white; padding:8px 0; font-size:16px;
 }
 .cfj-logo-comp{
  position:absolute;
  width:160px;
  margin:0 auto;
  left:0;
  top:10px;
  right:0;
 }
  .cfj-logo-comp img{
  width:160px;
  margin:0 auto;
 }

 div.content{min-height:0;}
 i.cfj-info{
  font-size:11px!important; position:absolute; margin:5px 0 0 4px;
 }
.table-responsive{
  overflow-x:visible;
}
 .cfj-search-container{}
 .cfj-search-container .cfj-search{border-radius:0 40px 40px 0!important;}
 .cfj-search-container input{
  border-radius:0 40px 40px 0!important;
  box-shadow: 0 0 1px 1px white;
  overflow: hidden;  
 }
 .cfj-icon-search{background:black!important;padding:0;color:white!important;border-radius:40px 0 0 40px!important;}
 .cfj-icon-search button{background:black!important;color:white!important;margin:0!important;border:0px!important;border-radius:40px 0 0 40px!important;}
 .cfj-icon-search button:hover{background-color:transparent!important;}
.cfj-icon-search span{color:white!important}
.cfj-actions{padding:0px 0!important;}
.cfj-actions-btn{border-radius:20px!important; border:0px!important; padding:4px 25px!important; font-size:12px!important;}
.cfj-actions .form-group{padding-bottom:0px!important; margin-bottom:0px!important;}
.cfj-group{  
  color:#58CDD0!important;margin-top:26px; height:10px!important; padding:0px;
}
.cfj-group:before{  
  content:" | ";
}
.cfj-modal:not(.cfj-golden-rules) .modal-dialog{
  width:450px;
  margin-left:auto;
  margin-top:10%;

}
.cfj-modal.cfj-golden-rules .modal-dialog{
  width:800px;
  margin-left:auto;
  margin-top:10%;

}
a{color:inherit!important}

.cfj-modal .modal-title{
  text-align:center;
  padding:4px 0;
  color:white;
  font-size:15px;
}
.cfj-modal .modal-header{
  padding:0;
}
.img-menu-logo-mobile {
  display: none;
}
.modal-header, h4:not(.cfj-deg-violeta), .close{
  background: -moz-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88,205,208,1)), color-stop(60%, rgba(88,205,208,1)), color-stop(100%, rgba(109,234,192,1)))!important; /* safari4+,chrome */
background: -webkit-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* safari5.1+,chrome10+ */
background: -o-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* opera 11.10+ */
background: -ms-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* ie10+ */
background: linear-gradient(188deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58CDD0', endColorstr='#6DEAC0',GradientType=0)!important; /* ie6-9 */  
color:white;

}
.cfj-modal .modal-content h5{
  text-align:center;
  color:black;
  font-size:14px;
}
.cfj-modal-option{
  text-align:center;
  font-size:24px;
}

.mdl-radio.is-upgraded{
  display:inline-block!important;
  padding-left:10px!important;
}

.cfj-modal-close{
  margin:5px!important;
}

.modal-body{padding-bottom:30px!important;background-color:white!important;}
.mdl-menu__item:hover{
  background-color:#0FB4AB!important; color:white;
}
  .tr-data{
    vertical-align:middle!important;
    height:90px!important;  
  }
  .tr-data td{
    vertical-align:middle!important;
    
  }
  .edit-icon{
  position:relative;
  margin-top:5px;
  font-size:20px;
  right:26%;
  }
  img {
  }
  .marg-sup{
    margin-top:25px;
  }
  .marg-inf {
    margin-bottom:25px;
  }

.sortable span{
  display:none;
}

table{
  table-layout: fixed;
}
table tr th,table tr th a{
font-size:12px;
text-align: center;
font-weight: bold;
}
table .cfj-check{
  width:2%;
  white-space: normal;
}
table .cfj-edit{
  width:2%;
  white-space: normal;
}

table .cfj-provider{
  width:7%;
  white-space: normal;
}
table .cfj-image{
  width:6%;
  white-space: normal;
}
table .cfj-image img{
  width:100%!important;
  white-space: normal;
}
table .cfj-sku{
  width:8%;
  white-space: normal;
  text-align:center;
}
table .cfj-title{
  width:13%;
  white-space: normal;
}
table td.cfj-title {
 text-align: left!important;
}
table .cfj-title.double {
  width:26%;
}
table td.cfj-title a{
  white-space: normal;
  text-align:left;
}
table .cfj-brand{
  width:8%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-category{
  width:10%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-category.double{
  width:20%!important;
}
table .cfj-category-global{
  width:30%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-stock{
  width:5%;
  white-space: normal;
}
table .cfj-price{
  width:11%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-alicuota{
  width:7%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-status{
  width:9%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-publish{
  width:5%;
  white-space: normal;
}
table .cfj-market{
  width:5%;
  white-space: normal;
}
table .cfj-date{
  width:8%;
  white-space: normal;
}
table .cfj-goldenrule{
  width:8%;
  white-space: normal;
}
table .cfj-sold{
  width:8%;
  white-space: normal;
}
table .cfj-markup{
  width:6%;
  text-align: center;
  white-space: normal;
}

.content-wrapper, .right-side{
  margin-left:50px!important;
}
.tabla-productos-global-mobile {
  display: none !important;
}
 .sidebar-mini.sidebar-collapse .main-footer
{
  margin-left:0px!important;

  }

.table>thead>tr>th{vertical-align: top}

@media (max-width:1024px){
      .cfj.report div.reports{
      font-size:20px!important;
    }

}
@media (max-device-width : 1024px) { 
      .cfj.report div.reports{
      font-size:20px!important;
    }

}

@media screen only (max-width:1024px){
      .cfj.report div.reports{
      font-size:20px!important;
    }

}

/* Landscape phones and down */
@media (max-width: 480px) { 
    div.reports{
      font-size:20px!important;
    }
    .content-wrapper, .right-side {
      margin-left: 0!important;
    }
    .perfil-name {
      display: none;
    }
    .cfj-logo-comp {
      text-align: center;
    }
    .img-user-header {
      display: none;
    }
    .img-menu-logo-mobile {
      display: block!important;
      width: 75%!important;
      margin: 0!important;
    }
    .header-web{
      display: none !important;
    }
    .main-sidebar, .left-side {
      padding-top: 40px !important;
    }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
      right: 0 !important;
    }
    .cfj-largo-input-goldenrule {
      width: 265px !important;
    }
    .cfj-modal.cfj-golden-rules .modal-dialog {
      width: 95%;
    }
    .mdl-textfield{
      width:100%;
      margin: 50px 0 0!important;
    }
    .cfj-absol{
      top:53px!important;
      right:auto!important;
    }
    .oms-responsive-header {
      margin: 10px 0 !important
    }
    .categoriaglobal-responsive {
      margin-top: 15px;
    }
    .tabla-productos-global-web {
      display: none !important;
    }
    .tabla-productos-global-mobile {
      display: block !important;
    }
    .img-thumbnail{
      max-width:100px;
    }
    .pull-left{
      display: block;
      margin-top:10px;
      position:relative!important;
    }
}


.cfj-product-div {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px #88888812;
}

.cfj-hr-atributes {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#ecf0f5;
  height: 1px;
}

a.unlink{
  cursor:default!important;
}
.sidebar-collapse a.unlink span{
  cursor:default!important;
  background-color:rgba(88,205,208,1)!important;
  background:rgba(88,205,208,1)!important;
}
#tab-golden .active.nav-item{
background: -moz-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88,205,208,1)), color-stop(60%, rgba(88,205,208,1)), color-stop(100%, rgba(109,234,192,1)))!important; /* safari4+,chrome */
background: -webkit-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* safari5.1+,chrome10+ */
background: -o-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* opera 11.10+ */
background: -ms-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* ie10+ */
background: linear-gradient(188deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58CDD0', endColorstr='#6DEAC0',GradientType=0)!important; /* ie6-9 */  
color:white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color:transparent;
  color:white;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
  background-color:rgba(88,205,208,1)!important;
  border:2px solid rgb(88,205,208)!important  ;
}

select option:focus{
  background:red;
}

.btn.btn-link{
  width:30px;
  height:30px;
  border-radius:30px!important;
  overflow:hidden;
  padding:0!important;
  color:rgba(88,205,208,1)!important;
  background-color:rgba(88,205,208,1)!important;
}
.btn.btn-link i{
  color:white!important;
  background:transparent;
  border:0px!important;
}
.cfj-textarea-height {
  resize: none;
  height: 120px !important;
}
.cfj-table-product-image {
  max-height: 100px;
  max-width: 100px;
  border-radius: 10px;
}
.cfj-inputs-shadow {
  box-shadow: 3px 3px #e5e9ee;
}
.cfj-image-drag-drop {
  display: inline-block;
  border-radius: 25px;
  margin-right:8px;
  padding:10px 0 10px 0;
  background-color:white;
}
.cfj-panel {
  box-shadow: 5px 10px #88888812;
}
.panel-heading {
  font-weight: bold;
}
.cfj-save-button {
  float: right;
  margin-right: 15px;
  border-radius: 5px;
}
.cfj-label-order {
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}


.panel-heading {
  font-weight: bold;
}
.cfj-save-button {
  float: right;
  margin-right: 15px;
  border-radius: 5px;
}
.cfj-label-order {
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}


.mdl-menu--bottom-left{
  border:2px solid rgba(88,205,208,1)!important;
}

.getmdl-select .mdl-textfield__input{
    cursor: pointer;
    font-size:11px;
    border-radius: 100px;
    border: 2px solid rgba(88,205,208,1)!important;
    text-align: center; 
}

.getmdl-select .mdl-menu__container .mdl-menu .mdl-menu__item{
  font-size:12px!important;
}

 h3.pageTitle{
font-size:12px;
margin:0px!important;
padding:8px 10px;
color:white;
width:auto;
line-height:5px!important;
border-radius:100px;
text-align:center;
position:absolute;
z-index: :-1000;
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top table,.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom table{
  table-layout: inherit;
}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top, .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
  }

.input-group.date{
margin-top:-4px; position:relative;
}
.input-group.date input{
  border-radius:100px 0 0 100px!important;
}
.input-group.date .input-group-addon{
  border-radius:0px 100px 100px 0px!important;
}
.getmdl-select .mdl-icon-toggle__label{
  margin-top:-32px;
}

.mdl-textfield{
  width:300px;
  margin:auto 40px;
  font-size:14px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a:not(.unlink)>span{
  background-color:rgba(68,58,79,1)!important;
  
}
.sidebar-mini aside ul li:hover{
  background-color:rgba(68,58,79,1)!important;
  
}
.sidebar-mini aside ul li:hover a, .sidebar-mini aside ul li:hover a{
  background-color:rgba(68,58,79,1)!important;
  
}
.sidebar-mini aside ul li ul, .sidebar-mini aside ul li ul a {
  background-color:rgba(68,58,79,1)!important;
}
.cfj-deg ul.sidebar-menu{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li.treeview{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li.active a{
  background-color:rgba(68,58,79,0.1);
}
.cfj-deg ul.sidebar-menu li.treeview:not(.active) a:hover{
  background-color:rgba(68,58,79,0.1)!important;
  color:white;
}
.cfj-deg ul.sidebar-menu li.treeview a{
  color:white!important;
}
.cfj-deg ul.sidebar-menu li.treeview a span{
  color:white!important;
}

.cfj-deg ul.sidebar-menu li ul{
  background-color:rgba(68,58,79,0.3)!important;
}
.cfj-deg ul.sidebar-menu ul.treeview-menu{
  background-color:rgba(68,58,79,0.3)!important;
  width:230px!important
}

.main-header .sidebar-toggle {
  color:#00E2D6!important;
  border: none !important;
}
body:not(.sidebar-collapse) aside{
  position:absolute;
}

.skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a,
 .skin-black .main-header>.navbar .navbar-right>li>a{
  border-left:0px!important;
 }

 .cfj-fz-12{font-size:12px;}
 .cfj-fz-10{font-size:10px;}
 .perfil-name{top:-4px; position:relative;}
 .cfj-separator{
 text-align:center!important;color:white; width:100%; padding:10px 0; position:relative; margin-top:10px;
 }
 .cfj-report{
text-align:center;
 }
 .cfj-report div.reports{
  background:white;
border-radius:0px 0px 10px 10px;
margin-bottom:30px;
padding:60px 0;
font-size:30px;
 }
 .cfj-report-one h3{
border-radius:10px 10px 0 0;
margin:20px 0 0;
  width:100%; background-color:#007e86; color:white; padding:8px 0; font-size:16px;

} 
.cfj-report-two h3{
border-radius:10px 10px 0 0;
margin:20px 0 0;
  width:100%; background-color:#602663; color:white; padding:8px 0; font-size:16px;
 }
 .cfj-logo-comp{
  position:absolute;
  width:160px;
  margin:0 auto;
  left:0;
  top:10px;
  right:0;
 }
  .cfj-logo-comp img{
  width:160px;
  margin:0 auto;
 }

 div.content{min-height:0;}
 i.cfj-info{
  font-size:11px!important; position:absolute; margin:5px 0 0 4px;
 }
.table-responsive{
  overflow-x:visible;
}
 .cfj-search-container{}
 .cfj-search-container .cfj-search{border-radius:0 40px 40px 0!important;}
 .cfj-search-container input{
  border-radius:0 40px 40px 0!important;
  box-shadow: 0 0 1px 1px white;
  overflow: hidden;  
 }
 .cfj-icon-search{background:black!important;padding:0;color:white!important;border-radius:40px 0 0 40px!important;}
 .cfj-icon-search button{background:black!important;color:white!important;margin:0!important;border:0px!important;border-radius:40px 0 0 40px!important;}
 .cfj-icon-search button:hover{background-color:transparent!important;}
.cfj-icon-search span{color:white!important}
.cfj-actions{padding:0px 0!important;}
.cfj-actions-btn{border-radius:20px!important; border:0px!important; padding:4px 25px!important; font-size:12px!important;}
.cfj-actions .form-group{padding-bottom:0px!important; margin-bottom:0px!important;}
.cfj-group{  
  color:#58CDD0!important;margin-top:26px; height:10px!important; padding:0px;
}
.cfj-group:before{  
  content:" | ";
}
.cfj-modal:not(.cfj-golden-rules) .modal-dialog{
  width:450px;
  margin-left:auto;
  margin-top:10%;

}
a{color:inherit!important}

.cfj-modal .modal-title{
  text-align:center;
  padding:4px 0;
  color:white;
  font-size:15px;
}
.cfj-modal .modal-header{
  padding:0;
}
.modal-header, h4, .close{
  background: -moz-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88,205,208,1)), color-stop(60%, rgba(88,205,208,1)), color-stop(100%, rgba(109,234,192,1)))!important; /* safari4+,chrome */
background: -webkit-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* safari5.1+,chrome10+ */
background: -o-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* opera 11.10+ */
background: -ms-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* ie10+ */
background: linear-gradient(188deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58CDD0', endColorstr='#6DEAC0',GradientType=0)!important; /* ie6-9 */  
color:white;

}
.cfj-modal .modal-content h5{
  text-align:center;
  color:black;
  font-size:14px;
}
.cfj-modal-option{
  text-align:center;
  font-size:24px;
}

.mdl-radio.is-upgraded{
  display:inline-block!important;
  padding-left:10px!important;
}

.cfj-modal-close{
  margin:5px!important;
}

.modal-body{padding-bottom:30px!important;background-color:white!important;}
.mdl-menu__item:hover{
  background-color:#0FB4AB!important; color:white;
}
  .tr-data{
    vertical-align:middle!important;
    height:90px!important;  
  }
  .tr-data td{
    vertical-align:middle!important;
    
  }
  .edit-icon{
  position:relative;
  margin-top:5px;
  font-size:20px
  }
  img {
  }
  .marg-sup{
    margin-top:25px;
  }
  .marg-inf {
    margin-bottom:25px;
  }

.sortable span{
  display:none;
}

table{
  table-layout: fixed;
}
table tr th,table tr th a{
font-size:12px;
text-align: center;
}
table .cfj-check{
  width:2%;
  white-space: normal;
}
table .cfj-edit{
  width:2%;
  white-space: normal;
}

table .cfj-provider{
  width:7%;
  white-space: normal;
}
table .cfj-image{
  width:6%;
  white-space: normal;
}
table .cfj-image img{
  width:100%!important;
  white-space: normal;
}
table .cfj-sku{
  width:8%;
  white-space: normal;
  text-align:center;
}
table .cfj-title{
  width:13%;
  white-space: normal;
}
table td.cfj-title {
 text-align: left!important;
}
table .cfj-title.double {
  width:26%;
}
table td.cfj-title a{
  white-space: normal;
  text-align:left;
}
table .cfj-brand{
  width:8%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-category{
  width:10%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-category.double{
  width:20%!important;
}
table .cfj-category-global{
  width:30%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-stock{
  width:5%;
  white-space: normal;
}
table .cfj-price{
  width:11%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-alicuota{
  width:7%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-status{
  width:9%;
  white-space: normal;
  text-align:center!important;
}
table .cfj-publish{
  width:5%;
  white-space: normal;
}
table .cfj-market{
  width:5%;
  white-space: normal;
}
table .cfj-date{
  width:8%;
  white-space: normal;
}
table .cfj-goldenrule{
  width:8%;
  white-space: normal;
}
table .cfj-sold{
  width:8%;
  white-space: normal;
}
table .cfj-markup{
  width:6%;
  text-align: center;
  white-space: normal;
}
 .sidebar-mini.sidebar-collapse .main-footer
{
  margin-left:0px!important;

  }

.table>thead>tr>th{vertical-align: top}

@media (max-width:1024px){
      .cfj.report div.reports{
      font-size:20px!important;
    }

}
@media (max-device-width : 1024px) { 
      .cfj.report div.reports{
      font-size:20px!important;
    }

}

@media screen only (max-width:1024px){
      .cfj.report div.reports{
      font-size:20px!important;
    }

}

/* Landscape phones and down */
@media (max-width: 480px) { 
      div.reports{
      font-size:20px!important;
    }

}


.cfj-product-div {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px #88888812;
}

.cfj-hr-atributes {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#ecf0f5;
  height: 1px;
}

a.unlink{
  cursor:default!important;
}
.sidebar-collapse a.unlink span{
  cursor:default!important;
  background-color:rgba(88,205,208,1)!important;
  background:rgba(88,205,208,1)!important;
}
#tab-golden .active.nav-item{
background: -moz-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88,205,208,1)), color-stop(60%, rgba(88,205,208,1)), color-stop(100%, rgba(109,234,192,1)))!important; /* safari4+,chrome */
background: -webkit-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* safari5.1+,chrome10+ */
background: -o-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* opera 11.10+ */
background: -ms-linear-gradient(262deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* ie10+ */
background: linear-gradient(188deg, rgba(88,205,208,1) 0%, rgba(88,205,208,1) 60%, rgba(109,234,192,1) 100%)!important; /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58CDD0', endColorstr='#6DEAC0',GradientType=0)!important; /* ie6-9 */  
color:white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color:transparent;
  color:white;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
  background-color:rgba(88,205,208,1)!important;
  border:2px solid rgb(88,205,208)!important  ;
}

select option:focus{
  background:red;
}

.btn.btn-link{
  width:30px;
  height:30px;
  border-radius:30px!important;
  overflow:hidden;
  padding:0!important;
  color:rgba(88,205,208,1)!important;
  background-color:rgba(88,205,208,1)!important;
}
.btn.btn-link i{
  color:white!important;
  background:transparent;
  border:0px!important;
}
.cfj-textarea-height {
  resize: none;
  height: 120px !important;
}
.cfj-table-product-image {
  max-height: 100px;
  max-width: 100px;
  border-radius: 10px;
}
.cfj-inputs-shadow {
  box-shadow: 3px 3px #e5e9ee;
}
.cfj-image-drag-drop {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 5px 10px #88888812;
  margin-right: 20px;
}
.cfj-panel {
  box-shadow: 5px 10px #88888812;
}
.panel-heading {
  font-weight: bold;
}
.cfj-save-button {
  float: right;
  margin-right: 15px;
  border-radius: 5px;
}
.cfj-label-order {
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.cfj-table-marketplace {
  text-align: center;
}
.cfj-table-marketplace .img-publish {
  width: 50% !important;
  margin: 0 !important;
}
label.input-custom-file input[type=file] {
  display: none;
}
.cfj-input-file {
  font-size: 12px;
  width: 25px;
  height: 26px;
  padding: 2.5px 10px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.cfj-a-rounded {
  color: white!important;
  background-color: #58cdd0;
  font-size: 13px;
  width: 25px;
  height: 25px;
  padding: 4px 8px 6px 6px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.mdl-button__ripple-container {
  width: 0 !important;
}
.cfj-btn-regresar {
  top: 20px !important;
}
.cfj-dropdown {
  text-align: center;
  min-width: auto;
}
.img-publish-pmp {
  width:50%!important;
  margin:5px;
}
.cfj-dropdown-dmp {
  position: absolute;
  width: 205px;
  left: -55px;
  top: 10px;
  border: none;
  text-align: center;
  background-color: transparent !important;
}
.cfj-button-bmp {
  display: inline-block;
  width: 50px;
  height: 50px !important;
  margin: 4px;
  padding: 2px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #dedede;
}
.cfj-button-bmp:hover {
  background-color:#eee!important;
  box-shadow:1px 1px 1px 2px #dedede;
}
.cfj-add-product-file {
  width: 80px;
  height: 80px;
  background-color: #c0c0c0;
  display: inline-block;
  border-radius: 50px;
  margin: 45px;
  cursor: pointer;
}
.user-header {
  height: 120px !important;
  border-radius: 0 0 10px 10px;
  border: 5px solid #58cdd0;
  background-color: #fff !important;
}
.user-header p {
  color: #007e86 !important;
  font-size: 15px !important
}
.pull-left {
  position: absolute;
  top: 6px;
  left: 5px;
}

.pull-left a {
  background-color: transparent;
  color: #007e86 !important;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 18px;
  border-radius: 0px 0px 5px 0px !important;
}
.pull-right {
  position: absolute;
  top: 6px;
  right: 5px;
}
.pull-right a {
  background-color: transparent;
  color: #007e86 !important;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 18px;
  border-radius: 0px 0px 0px 5px !important;
}




